---
Checks:          'clang-diagnostic-*,-clang-diagnostic-#warnings,-clang-diagnostic-#pragma-messages,modernize-*,-modernize-use-auto,-modernize-make-unique,-modernize-raw-string-literal,-modernize-use-trailing-return-type,bugprone-*, readability-*,-readability-avoid-const-params-in-decls,-readability-magic-numbers,-readability-convert-member-functions-to-static,misc-*,-misc-unused-parameters,performance-*,cert-*,-cert-err60-cpp,google-*,-google-runtime-references, -google-readability-todo,llvm-*,-llvm-header-guard'
WarningsAsErrors: ''
HeaderFilterRegex: 'sse/(runners|schemes)/.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            rbost
WarningsAsErrors:   '*'
CheckOptions:    
  - key:            google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             readability-function-cognitive-complexity.Threshold
    value:           '40'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
...

