[submodule "third_party/crypto"]
	path = third_party/crypto
	url = https://github.com/OpenSSE/crypto-tk.git
[submodule "third_party/db-parser"]
	path = third_party/db-parser
	url = https://github.com/OpenSSE/db-parser.git
[submodule "externals/googletest"]
	path = externals/googletest
	url = https://github.com/google/googletest.git
[submodule "externals/CMake-codecov"]
	path = externals/CMake-codecov
	url = https://github.com/rbost/CMake-codecov.git
[submodule "externals/sanitizers-cmake"]
	path = externals/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.2.1
